* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

body {
    background: #262424;
}

nav {
    background: #1b1b1b;
    height: 50px;
    position: fixed;
}

nav:after {
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
}

nav ul li {
    float: right;
    background: #1b1b1b;
    height: 50px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    height: 50px;
}

nav ul li a:hover {
    border-radius: 5px;
    color: #26A69A;
    box-shadow: none;
}

nav ul ul li a:hover {
    color: #89CFF0;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid rgb(71, 44, 223);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0%;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0, .3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

h2 {
    font-size: 35px;
}

#title {
    position: fixed;
    top: 35px;
    bottom: 0px;
    right: 0px;
    left: 380px;
    width: 235px;
    height: 120px;
}

#line1 {
    position: fixed;
    top: 120px;
    bottom: 0px;
    right: 0px;
    left: 371px;
    width: 957px;
    height: 1px;
    border: none;
    background-color: #ffffff5d;
}

#line2 {
    position: fixed;
    top: 68px;
    bottom: 0px;
    right: 0px;
    left: 370px;
    width: 1px;
    height: 677px;
    border: none;
    background-color: #ffffff5d;
}

#line3 {
    position: fixed;
    top: 395px;
    bottom: 0px;
    right: 0px;
    left: 10px;
    width: 360px;
    height: 1px;
    border: none;
    background-color: #ffffff5d;
}

#container {
    padding-left: 158px;
    padding-top: 105px;
}

#messageTitle {
    position: fixed;
    top: 396px;
    bottom: 0px;
    right: 0px;
    left: 11px;
    width: 358px;
    height: 55px;
    border: none;
    color: #ffffff;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    font-size: 23px;
}

#textareaMessage {
    position: fixed;
    top: 540px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 335px;
    height: 205px;
    resize: none;
    background: #1b1b1b;
}

#inputClientName {
    position: fixed;
    top: 120px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#inputClientEmail {
    position: fixed;
    top: 170px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#inputClientAge {
    position: fixed;
    top: 220px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#inputClientEmail2 {
    position: fixed;
    top: 455px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#inputClientMessageDoctorID {
    position: fixed;
    top: 490px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#inputDoctorName {
    position: fixed;
    top: 120px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
}

#inputDoctorSpecialty {
    position: fixed;
    top: 180px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
}

#inputDoctorGradYear {
    position: fixed;
    top: 240px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
}

#inputDoctorDeptID {
    position: fixed;
    top: 300px;
    bottom: 0px;
    right: 0px;
    left: 15px;
    width: 328px;
    height: 25px;
    resize: none;
}

#submitBtnPOSTclient {
    position: fixed;
    top: 270px;
    bottom: 40px;
    right: 0px;
    left: 297px;
    width: 55px;
    height: 25px;
    color: #89CFF0;
    background-color: #262424;
    border: none;
}

#submitBtnPOSTdoctor {
    position: fixed;
    top: 340px;
    bottom: 40px;
    right: 0px;
    left: 297px;
    width: 55px;
    height: 25px;
    color: #89CFF0;
    background-color: #262424;
    border: none;
}

#submitBtnMessage {
    position: fixed;
    top: 723px;
    bottom: 40px;
    right: 0px;
    left: 297px;
    width: 55px;
    height: 25px;
    color: #89CFF0;
    background-color: #262424;
    border: none;
}