* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body {
    background: #262424;
}

nav {
    background: #1b1b1b;
    height: 50px;
}

nav:after {
    clear: both;
    display: table;
}

nav ul {
    list-style: none;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    height: 50px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    height: 50px;
}

nav ul li a:hover {
    border-radius: 5px;
    color: #f5745e;
    box-shadow: none;
}

nav ul ul li a:hover {
    color: #89CFF0;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid rgb(71, 44, 223);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0%;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0, .3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}

#title {
    position: fixed;
    top: 50px;
    bottom: 0px;
    right: 0px;
    left: 400px;
    width: 235px;
    height: 120px;
}

#line1 {
    position: fixed;
    top: 145px;
    bottom: 0px;
    right: 0px;
    left: 400px;
    width: 957px;
    height: 1px;
    border: none;
    background-color: rgb(255, 255, 255);
}

#line2 {
    position: fixed;
    top: 51px;
    bottom: 0px;
    right: 0px;
    left: 355px;
    width: 1px;
    height: 810px;
    border: none;
    background-color: rgb(255, 255, 255);
}

#container {
    padding-left: 158px;
    padding-top: 80px;
}